/* For Tablets */
@media all and (max-width: 1000px) {
  .header {
    width: 100%;
    margin-bottom: 50px;
  }
  
  .header2 {
    font-size: 25px;
  }
  
  .main2 {
    font-size: 20px;
  }
  
  .table {
    width: 100%;
  }
  
  footer {
    text-align: center;
  }
  
  .table2 {
    width: 100%;
  }
  
  .required {
    margin-bottom: 10px;
  }
  .h1 {
    font-size: 20px
}

/* For Smartphones */
@media all and (max-width: 670px) {
  .header2 {
    font-size: 25px;
  }
  
  .main2 {
    font-size: 20px;
  }
  .table {
    width: 100%;
  }
  
  footer {
    text-align: center;
  }
  
  .table2 {
    width: 100%;
  }
  
  .required {
    margin-bottom: 10px;
  }
  
  .h1 {
    font-size: 15px;
  }
  
  /* Add CSS for header-right */
  .header-right {
    display: none;
  }
  
  /* Add CSS for menu-icon */
  .menu-icon {
    display: block;
  }
  
  .header1 {
    font-size: 24px;
    line-height: 36px;
  }
  
  .main2 {
    font-size: 14px;
    line-height: 20px;
  }
}
