/* For Tablets */
@media all and (max-width: 1000px) {
  .header {
    width: 100%;
    margin-bottom: 50px;
  }

  .h1 {
      font-size: 20px;
  }

  .main {
      font-size: 20px;
  }
  
  

/* For Smartphones */
@media all and (max-width: 670px) {
  .header {
    width: 100%;
    margin-bottom: 50px;
  }
  
  .main {
    font-size: 15px;
  }
  
  .h1 {
      font-size: 15px;
  }

  .Sign-Up-Form {
      font-size: 15px;
  }

  .header-right {
    display: none;
  }

  /* Add CSS for menu-icon */
  .clear {
    display: block;
    font-size: 14px;
    line-height: 20px;
  }
  
  .proceed {
    display: block;
    font-size: 14px;
    line-height: 20px;
  }
}
